*{ 

    background-color:none;
}
.body{
    display: flex;
    background-image: url("../images/IMGFondo2.jpg");
    flex-direction: column;
    text-align: center;
    align-items: center;
    --max-size: 500px;
    
}
nav li a:hover {
    background-color: #ff0000;
}
ul li{
    list-style: none;
   font-weight: bold;
    font-size: 25px;
}
img{
    max-width: var(--max-size);
    max-height: var(--max-size);
}

h1, h2{
   

    color: rgb(255, 0, 0);

}
