*{
    background-color: #dbbfc7;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    --max-size: 500px;
    
}
nav li a:hover {
    background-color: #d194a7;
}
ul li{
    list-style: none;
}
img{
    max-width: var(--max-size);
    max-height: var(--max-size);
}
h1{
   

    color: rgb(255, 255, 0);

}
